<div class="container mt-4">
  <div>
    <h2>Tabla 1</h2>
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center">N°</th>
          <th scope="col" class="text-center" >Number</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-center">First Position</th>
          <th scope="col" class="text-center">Last Position</th>
        </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let number of arrayTable" [ngClass]='number.elementClass'>

          <th scope="row" class="text-center">{{number.n+1}}</th>

          <td class="text-center">{{number.number}}</td>

          <td class="text-center">{{number.quantity}}</td>

          <td class="text-center">{{ number.firstPosition }}</td>

          <td class="text-center">{{ number.lastPosition }}</td> 

        </tr>
      
      </tbody>
    </table>
    
  </div>
  <div>
    <input type="text" class="form-control" [ngModel]="dataTable.data" disabled>
  </div>

  <div>
    <button routerLink="/home" type="button" class="btn btn-success btn-lg mt-3">Volver</button>
  </div>

</div>