<div class="container d-flex h-100">
  <div class="text-center w-100 justify-content-center align-self-center">
    <div class="row">
      <div class="col-sm">
        <h2>Bienvenido a mi prueba de Mining Tag</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>Para continuar presiona una de las siguientes opciones</p>
      </div>
    </div>

    <div>
      <button routerLink="/table1" type="button" class="btn btn-dark btn-lg">Tabla 1</button>

      <button routerLink="/table2" type="button" class="btn btn-dark btn-lg">Tabla 2</button>
    </div>
  </div>
</div>
