  <div class="container mt-4">
    <div>
      <h2>Tabla 2</h2>
    </div>
  
    <div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N°</th>
            
            <th scope="col" *ngFor='let abc of abecedario'>{{abc}}</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let row of countLetter">
  
            <th class="text-center" scope="row">{{row.index}}</th>
            <td class="text-center" *ngFor="let letter of row.abc">
              {{ letter.quantity }}
            </td>
          </tr>
        
        </tbody>
      </table>
  
    </div>
  
    <div>
      <button routerLink="/home" type="button" class="btn btn-success btn-lg">Volver</button>  
    </div>
  
  </div>